@model UrbanRFP.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt26 clrwhite mgbody">
    <div class="page-content registration" style="margin: 0% 10%;">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <span class="srchtxt">Register</span><br /><br />
                <hr />
            </div>
        </div>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "form-register" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.OrgDomain)
            @*<div class="row">
                <div class="col-lg-offset-2">
                    <div class="alert alert-danger" id="ErrorMsg" style="display:none">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span></span>
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-offset-2 col-md-5 individualdt">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5 individualdt">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Please enter email..." })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <span class="text-danger check-user-exists" style="display:none;">This email is already registered</span>
                </div>
            </div>
            <div id="section-org" style="@(ViewData["ShowOrg"] != null && (bool)ViewData["ShowOrg"] == true ? "": "display:none")">
                <div class="row">
                    <div class="col-md-offset-2 col-md-5 individualdt">
                        @Html.LabelFor(model => model.OrgName, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-5">
                        @Html.TextBoxFor(m => m.OrgName, new { @class = "form-control", @placeholder = "Please enter organization name..." })
                        @Html.ValidationMessageFor(m => m.OrgName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5 individualdt">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Please enter password..." })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5 individualdt">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Please confirm password..." })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5 individualdt">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Please enter first name..." })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5 individualdt">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Please enter last name..." })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5 individualdt">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5 individualdt">
                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @placeholder = "Please enter fax..." })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-5 text-right">
                    <br />
                    <button type="submit" class="btn btn-lg btn-default">Signup</button>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-offset-2 col-md-5 text-center">
                <p class="individualpara">
                    <br>
                    Already registered? <a href="/Account/Login">Login now</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Scripts/jquery.mask.min.js"></script>
<script src="~/Content/Scripts/AppScripts/registration.js"></script>